<script>
    function searchUp(event){
        const txt = document.querySelector('.search_txt');
        const Close = document.querySelector('.close');
        const Search = document.querySelector('.search_btn');
        
        txt.classList.remove('hidden');
        Close.classList.remove('hidden');
        Search.classList.add('hidden');
    }

    function closeUp(event){
        const Close = document.querySelector('.close');
        const Search = document.querySelector('.search_btn');
        const txt = document.querySelector('.search_txt');

        Close.classList.add('hidden');
        txt.classList.add('hidden');
        Search.classList.remove('hidden');
    }

    function sooncome(event){
        const cik = document.getElementById('cik-cik');
        const cok = document.getElementById('cok-cok');
        const text = document.getElementById('coom');

        owo = !owo;
        if(owo){
            cik.classList.remove('hidden');
            cok.classList.add('hidden');
            text.textContent = '\xa0Now Showing';
        }else {
            cik.classList.add('hidden');
            cok.classList.remove('hidden');
            text.textContent = 'Coming  Soon';
        }
    }


    let owo = false;

    const searchh = document.querySelector('.search_btn');
    searchh.addEventListener('click', searchUp);
    const cross = document.querySelector('.close');
    cross.addEventListener('click', closeUp);

    const soon = document.getElementById('coom');
    soon.addEventListener('click', sooncome);
</script>

</body>
</html>