/*--------------------------All navba----------------------*/
.nav-item a { 
    margin-left: 25px; 
}

.change { 
    color: rgba(185, 179, 179, 0.637) !important; 
}

.change:hover {
    color: white !important;
    border-bottom: 2px solid white;
}

.search_txt{
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.63);
    background: none;
    outline: none;
    float: left;
    color: #fff;
    font-size: 16px;
    transition: 0.4s;
    width: 220px;
}

.close{
    color: white; 
    font-size: 27.5px;
}

.hidden{
    display: none;
}

#Login{
    background-image: linear-gradient( 45deg, rgb(184, 40, 212) 0%, rgb(113, 36, 214) 50%, rgb(79, 15, 226) 100%);
    color: white;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline;
}

#SignUp{ 
    color: white;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 10px;
    border-left: 1px solid white;
    display: inline;
}

.dropdown-pull-right {
    float: right !important;
    right: 0;
    left: auto;
}

.dropdown-pull-right>.dropdown-menu {
    right: 0;
    left: auto;
}

.text-mmmm{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}
.text-mmmm:hover{
    color: #fff;
    background-color: #0f1011;
}

/*------------------------------------End-----------------------------------*/
/*------------------------------- Booking----------------------------------- */
.carousel-caption { bottom: 70px; }
.slider-btn
{
    margin-top: 10px;
    margin-left: 710px;
}
.slider-btn .btn 
{
    background-image: linear-gradient( 45deg, rgb(184, 40, 212) 0%, rgb(113, 36, 214) 50%, rgb(79, 15, 226) 100%);
    color: white;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/*--------------------------------End-----------------------------------*/
/*---------------------------------Box Office-----------------------------*/
.box
{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {text-decoration: none;}
p {font-family: 'Barlow', sans-serif;}
.num{
    position: absolute;
    color: rgb(139, 4, 250);
    margin-top: 80%;
    margin-left: 0px;
    font-size: 100px;
    font-weight: bold;
    text-shadow: 0.1em 0.1em 0.2em black; 
}
/*----------------------------End--------------------------------------------*/
/*--------------------------------Background--------------------------------------*/
body
{    
    background-image: linear-gradient(270deg, #1b2735 0%, #090a0f 100%);
}
/*---------------------------------End---------------------------------------*/
/*------------All movie and Category-------------------------------------*/
.text-shadow-1{
    font-size: 15px; 
    text-align: left; 
    font-family: Arial, Helvetica, sans-serif; 
    color: rgba(255, 255, 255, 0.664); 
}
.black{
    background-color: rgba(0, 0, 0, 0.493); 
    height: 70px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
}
#btnGroupDrop1{
    background: transparent;
    border: 2px solid white;
    border-radius: 9px;
    width: 160px;
    margin-left: 60px;
}
#btnGroupDrop1:focus{
    box-shadow: none;
}
.btn-1{
    background: transparent;
    border: 2px solid white;
    border-radius: 9px;
    width: 160px;
    color: #fff;
    margin-left: 10px;
}
.dropdown-item:hover{
    background-color: rgba(0, 0, 0, 0.527);
}
/*-------------End-----------------*/
/*----------Movie page-----------------*/
/*-----Movie and btn------*/
#headerMovie{
    text-align: center;
    padding-top: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    color: aliceblue;
    position: relative;
}
.bg-image{
    background-image: url("/images/movies/bg-movie.jpeg");
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.box-box{
    /* padding-bottom: 20px;  */
    display: inline-block;
}

.box-roow{
    width: 100%; 
    /* height: 10px;  */
    display: inline-block;
    background-color: #0b75cc;
}

.box-soon{
    position: relative; 
    bottom: 10px;
}

.sel-btn{
    border: 2px solid white;
    border-radius: 9px;
    background-color: black;
    color: #fff;
    width: 200px;
    height: 45px;
    font-size: 18px;
    text-align: center;
}
.sel-btn:focus{
    box-shadow: none;
}
.sel-btn:hover{
    color: #fff;
}
.btn-sub{
    border: 2px solid white;
    border-radius: 9px;
    background-color: black;
    color: #fff;
    width: 45px;
    height: 40px;
    margin-left: 5px;
    margin-top: 190px;
    font-size: 18px; 
}

.btt{
    border: 1px solid;
    font-size: 14px;
    height: 25px;
    text-align: center;
    padding-top: 1px;
    margin-right: -15px;
}
.btt:focus{
    box-shadow: none;
}
/*-------------End-----------------*/
/*-------------cinemas-----------------*/
.text-cin{
    margin-bottom: 50px;
}

.btn-add-c{
    margin-left: 45px;
    width: 170px !important;
    height: 45px;
    border-radius: 10px !important;
    font-size: 17px !important;
    background-color: #000 !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-add-c:hover{
    color: #fff;
}

#ccc{
    font-size: 60px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cin-bb{
    border: none;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.582);
    color: #fff;
    margin-top: 20px;
    margin-left: 200px;
    width: 550px;
}
.cin-res{
    border: none;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    width: 200px;
}
.mb-0{
    font-family: 'Cinzel', serif;
}
.btn-sho{
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 120px;
    padding: 2px;
}
/*-------------End-----------------*/
/*---------navba login-----------------*/
#SignAs{
    color: #fff;
    font-size: 23px;
    border-left: 1px solid white;
    font-family: 'Mukta', sans-serif;
}
.drop{
    color: #fff;
}
/*-------------End-----------------*/
/*-------------show ads-----------------*/
.heard{
    text-align: center;
    color: #fff;
    font-family: 'Cinzel', serif;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.responsive{
    width: auto;
    max-height: 250px;
    height: 100%;
    text-align: center;
}
.fff{
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    text-align: center;
}

.text-d{
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    text-align: left;
}

#heart{
    font-size: 32px;
    color: #1e93f3;
}

#heart-one{
    font-size: 25px;
    color: #1e93f3;
}

.po-heart{
    background-color: transparent; 
    border: none; 
    position: absolute; 
    bottom: 8px; 
    right: -10px;
}

.siz-heartandbtn{
    width: 22%; 
    height: 8%;
}

.text-com{
    color: aliceblue;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.btn-bs{
    border: none;
    background: linear-gradient( 27deg, #8d35f1d7, #1e93f3, #1889e6);
    width: 100px;
    box-shadow: 7px 5px 6px black;
    display: inline;
    border-radius: 12px;
    font-family: 'Mukta', sans-serif;
    font-size: 17px;
}

.btn-su{
    border: none;
    background: linear-gradient( 27deg, #8d35f1d7, #1e93f3, #1889e6);
    display: inline;
    border-radius: 10px;
    font-family: 'Mukta', sans-serif;
    font-size: 17px;
    height: 45px; 
    width: 142px; 
    bottom: 0px; 
    /* left: 87%;  */
    right: 0;
    position: absolute;
}

.box-bg{
    height: 70px; 
    font-size: 17px;
    color: #fff;
    background: linear-gradient( 27deg, #23b7f1d7 20%, #1e93f3 50%, #1889e6 100%);
}

.com-lo{
    color: rgb(6, 12, 70); 
    text-decoration: underline;
}

.put-com{
    height: 45px;
    border: 2px solid #23b7f1d7;
    border-radius: 10px;
    /* background: linear-gradient( 27deg, #23b7f1a2 20%, #1e93f39c 50%, #1889e69d 100%); */
    background-color: rgba(255, 255, 255, 0.87);
}

.bg-texycom{
    background: linear-gradient( 27deg, #23b7f1a2 20%, #1e93f39c 50%, #1889e69d 100%);
    height: 100% !important;
    max-height: 150px  !important;
    border-radius: 10px;
}

.font-boo{
    background: linear-gradient( 45deg, #f832e8, #8d35f1d7, #1e93f3, #0b75cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 29px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

.btn-de{
    background: linear-gradient( 27deg, #23b7f1a2 20%, #1e93f39c 50%, #1889e69d 100%);
    border: none;
    width: 200px;
    height: 70px;
    border-radius: 5px !important;
}

.btn-de h3{
    font-size: 20px;
    font-family: 'Mukta', sans-serif;
    width: 150px;
}

/*-------------End-----------------*/
/*-----------New movie-----------------*/
.text-new{
    background: linear-gradient( 45deg, #f832e8, #8d35f1d7, #1e93f3, #0b75cc);
    font-size: 45px;
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lead{
    color: rgba(255, 255, 255, 0.678);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.text-name{
    background: linear-gradient( 45deg, #8d35f1d7, #1e93f3, #0b75cc);
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-input{
    background-color: rgba(255, 255, 255, 0.89);
    border: none;
    width: 426px;
    border-radius: 5px;
}
.bg-inputcolor{
    background-color: rgba(255, 255, 255, 0.89);
    border: none;
    border-radius: 5px;
}

.fon-t{
    color: rgba(255, 255, 255, 0.808);
}

.btn-submit{
    border: none;
    background: linear-gradient( 27deg, #8d35f1d7, #1e93f3, #1889e6);
    width: 150px;
    height: 45px;
    border-radius: 15px;
    margin-left: 32%;
    margin-top: 20px;
    font-family: 'Mukta', sans-serif;
    font-size: 19px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.sessionMoviesTemplate {
    display: inline-block;
    position: absolute;
}

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu button {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

/*-----------------------------------End-----------------------------------*/
/*---------------------------------show ads--------------------------------*/
.place-box{
    margin-left: 20px; 
    margin-top: 10px;
}

.nam-box{
    height: 100%; 
    display: flex;
}

.pic-box{
    height: 250px; 
    position: relative; 
    margin-top: 10px;
    overflow: hidden;
}

.cen-box{
    height: 250px; 
    width: 600px;
}

.pic-si{
    text-align: center; 
    width: 200px; 
    margin-left: 11%;
}

.sen-sto{
    color: white; 
    width: 300px;
}

.btn-day{
    background-color: transparent;
    border: none;
    font-family: 'Rajdhani', sans-serif;
    width: 15%;
    margin-right: 0.7%;
    margin-left: 0.9%;
    font-size: 1.5vw;
    height: 79.2px;
}
.btn-day:hover{
      color: #1e93f3;
      border-bottom: 4px solid #1e93f3de;
}
.btn-day:focus{
    color: #1e93f3;
    border-bottom: 4px solid #1e93f3de;
}

.line-date{
    height: 79px; 
    position: relative; 
    background-color: rgba(255, 255, 255, 0.87);
}

.tail-box{
    height: 120px; 
    width: 80%; 
    /* background-color: rgba(255, 255, 255, 0.753);  */
    position: relative;
    border-radius: 10px;
    height: 95px;
    background: linear-gradient( 27deg, #23b7f1da 20%, #1e93f3dc 50%, #128df1e5 100%);
    /* background: linear-gradient( 27deg, #23b7f1a2 20%, #1e93f39c 50%, #1889e69d 100%); */
}

.head-box{
    /* background-color: rgba(26, 26, 26, 0);  */
    /* background: linear-gradient( 27deg, #23b7f1 20%, #1e93f3 50%, #1889e6 100%); */
    background: transparent;
    /* background-color: rgba(255, 255, 255, 0.322); */
    height: 120px; 
    position: relative;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 5px;
    height: 95px;
}

.text-box-h{
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5vw;
    text-align: center;
}
    
.decoration-inside{
    height: 80px; 
    width: 1px; 
    background-color: rgb(255, 255, 255); 
    display: block;
    margin-top: 9px;
    margin-left: 100%;
    position: relative;  
}

.btn-time{
    background-color: rgba(255, 255, 255, 0.911);
    border: 2px solid #1273f1e5;
    width: 90px;
    height: 37px;
    border-radius: 5px;
    margin-top: 1%;
    margin-right: 3px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 17px;
    text-align: center;
}
.btn-time:hover{
    color: #1e93f3dc;
}

/*-----------------------------------End-----------------------------------*/
/*---------------------------------Select Seat--------------------------------*/
.des-sele{
    color: white; 
    width: 300px;
}

.des-sele p {
    font-size: 17px;
}

#summ{
    background: linear-gradient( 45deg, #3586f1d7, #1e93f3, #0b75cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vw;
    margin-top: 10px;
}

.text-res{
    display: inline; 
    font-family: 'Merriweather Sans', sans-serif; 
    color: white;
    font-size: 20px;
}

.seat-thb{
    color: #fff;
    font-size: 1.6vw;
    text-align: left;
    padding-left: 16%;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

#seat{
    background: linear-gradient( 27deg, #8d35f1d7, #1e93f3, #1889e6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#price{
    background: linear-gradient( 27deg, #8d35f1d7, #1e93f3, #1889e6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-wow{
    text-align: center;
    margin-top: 15px;
    width: 45%;
    height: 40px;
    font-size: 1vw;
    background: linear-gradient( 45deg, #3586f1d7, #1e93f3, #0b75cc);
}

.pp-wow{
    position: relative; 
    height: 80px;  
    text-align: center;
    margin-top: 10px;
}

.scre-bo{
    text-align: center; 
    border: none;
    width: 50%;
    height: 40px;
    padding-top: 10px;
    color: #fff;
    background: linear-gradient( 90deg, #0d2d57d7, #1e93f3, #0b75cc, #0d2d57d7);
    border-bottom-right-radius: 150%;
    border-bottom-left-radius: 150%;
}

.btn-se-tt{
    background: transparent;
    border: none;
    height: 35px;
}

.btn-se-a{
    background: transparent;
    border: none;
    height: 35px;
    margin-left: 6px;
}

.si-seat{
    height: 35px;
}

/*-----------------------------------End-----------------------------------*/
/*---------------------------------Modal-----------------------------------*/
.dec-oo{
    font-size: 18px;
}

.ed-mol{
    background: linear-gradient( 45deg, #1e93f3, #0b75cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-conf{
    background-color: #1e93f3;
    color: #fff;
}
.btn-conf:hover{
    color: #fff;
    background-color: #1984db;
}

.ed-moll{
    background: linear-gradient( 45deg, #1e93f3, #0b75cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
    margin-left: 5px;
}
/*-----------------------------------End-----------------------------------*/
/*--------------------------------Profile-----------------------------------*/
.btn-pro{
    height: 30px; 
    width: 70px; 
    margin-top: 11px; 
    font-size: 12px;
    border: none;
    color: #fff;
    background: linear-gradient( 27deg, #23b7f1da 20%, #1e93f3dc 50%, #128df1e5 100%);
    box-shadow: rgba(0, 0, 0, 0.452) 0px 54px 55px, rgba(0, 0, 0, 0.418) 0px -12px 30px, rgba(0, 0, 0, 0.438) 0px 4px 6px, rgba(0, 0, 0, 0.555) 0px 12px 13px, rgba(0, 0, 0, 0.521) 0px -3px 5px;
}
.btn-pro:hover{
    color: #fff;
    background: linear-gradient( 27deg, #20a6dbda 20%, #1b84dadc 50%, #117cd4e5 100%);
}

.pro-tt{
    font-size: 23px; 
    display: inline;
}

.pro-aa{
    display: inline; 
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 24px;
}

.text-fa{
    background: linear-gradient( 45deg, #8d35f1d7, #1e93f3, #0b75cc);
    font-size: 40px;
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*-----------------------------------End-----------------------------------*/
/*-------------------------------My tickct---------------------------------*/
.bg-www{
    width: 350px; 
    margin-bottom: 20px;
    color: #fff;
    background: linear-gradient( 45deg, #0e2544d7, #0e2544d7, #0d2d57d7, #0b213dd7);
    left: 12%;
}

.text-haaa{
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 19px;
    /* margin-left: -10px; */
    text-align: center;
}

.text-hooo{
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: -3px;
}
/*-----------------------------------End-----------------------------------*/
/*-------------------------------Show Cinemas------------------------------*/
.text-showcin{
    background: linear-gradient( 45deg, #1e93f3, #0b75cc);
    font-size: 50px;
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform:uppercase;
    margin-top: -20px;
}

.boxx-cendown{
    text-align: center;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    margin-top: -10px;
}

.boxx-cendown h2{
    font-size: 30px;
    margin-top: -15px;
    
}

.abc:focus{
    box-shadow: none;
}

