body
{    
   background-color: #000;
}

.invite{
   background: linear-gradient( 45deg, #f832e8, #c26cfc, #c26cfcd7, #2898f3, #2898f3);
   font-size: 18px;
   font-family: 'Nunito', sans-serif;
   margin-bottom: 15px;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.video-container video {
   position: absolute; 
   top: 0;
   left: 0;
   width: 750px;
   height: 100%;
   object-fit: cover;
 }

.form-control{
   height: 40px;
   width: 270px;
   margin-bottom: 19px;
   border: none;
   border-radius: 8px;
   background-color: rgba(255, 255, 255, 0.918);
   font-family: 'Nunito', sans-serif;
   font-weight: bold;
   padding-left: 10px;
   font-size: 15px;
}

.bg-box{
   position: absolute; 
   width: 400px;
   height: 400px; 
   text-align: center;
   z-index: 1000;
   margin-left: 910px;
   margin-top: 8px;
} 

#btn-singup{
   width: 270px;
   height: 37px;
   border: none;
   border-radius: 5px;
   background-image: linear-gradient( 45deg, rgb(184, 40, 212) 0%, rgb(113, 36, 214) 50%, rgb(79, 15, 226) 100%);
   color: azure;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 18px;
}

#btn-login{
   color: aliceblue;
   font-family: 'Nunito', sans-serif;
   margin-left: 210px;
}

#btn-ss{
   color: #ffff;
   margin-left: 10px;
   font-size: 18px;
   font-family: 'Nunito', sans-serif;
}

.arrow{
   color: aliceblue;
   font-size: 16px;
}

.bg-boxx{
   position: absolute; 
   width: 400px;
   height: 400px; 
   text-align: center;
   z-index: 1000;
   margin-left: 910px;
   margin-top: 30px;
}

.doyou{
   color: rgba(240, 248, 255, 0.815);
   font-size: 18px;
   font-family: 'Nunito', sans-serif;
   margin-bottom: 15px;
   margin-top: 20px;
}

.btn-ho{
   color: #ffff;
   margin-top: 10px;
   font-size: 20px;
}
