body
{    
   /* background-image: linear-gradient(270deg, #1b2735 0%, #090a0f 100%); */
   background-image: linear-gradient( 270deg, #090a0f , #1b2735 , #1b2735 , #090a0f);
   
}
.form-control{
   height: 40px;
   width: 270px;
   margin-bottom: 17px;
   border: none;
   border-radius: 5px;
   background-color: rgba(255, 255, 255, 0.555);
   font-family: 'KoHo', sans-serif;
   padding-left: 10px;
   font-size: 15px; 
}
.bg-box{
   background-color: rgba(0, 0, 0, 0.959);
   height: 900px; 
   width: 750px; 
   text-align: center;
   margin-top: -10px !important;
   margin: 0% auto;
}
